:root {
  /*--bg-color: #0f1011;*/
  --bg-color: hsl(129, 87%, 1.8%);
  --bg-color-2: hsl(129, 40%, 1.8%);
  --text-secondary-color: hsl(129, 87%, 62%);
  --text-disabled-color: hsl(129, 87%, 20%);
  /*--text-secondary-color: hsl(114, 45%, 60%);
  --text-disabled-color: hsl(114, 45%, 20%);*/
  --text-color: #ffffff;
  --hover-text-color: hsl(114, 96%, 95%);
}
  /*--text-secondary-color: #74c76b;
  --text-disabled-color: #74c76b;*/

* {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}

body {
  background-color: var(--bg-color);
  margin: 0px;
  color: var(--text-color);
}


body, input {
  font-family: "Adwaita Sans"
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

show {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: auto;
}

showcase {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  width: 100%;
}

element {
  flex: 1;
}

input[type=input] {
    width: 13em;
}

border {
    width: 13em;
}

button {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}
button:disabled {
  cursor: default;
}

button.b1 {
  color: var(--text-secondary-color);
  background-color: var(--bg-color);
}

button:hover:not([disabled]).b1 {
  color: var(--hover-text-color);
}

button:disabled.b1 {
  color: var(--bg-color);
}

button.b2 {
  color: var(--text-secondary-color);
  font-size: 1.1em;
  text-shadow: currentColor 0 0 0.15em;
  background-color: var(--bg-color);
}

button:hover:not([disabled]).b2 {
  color: var(--hover-text-color);
}

button:disabled.b2 {
  color: var(--text-disabled-color);
}


button.b3 {
  color: var(--text-secondary-color);
  font-size: 1.1em;
  background-color: var(--bg-color);
  transition: all 0.3s;
}

button:hover:not([disabled]).b3 {
  color: var(--hover-text-color);
}

button:disabled.b3 {
  color: var(--text-disabled-color);
}

button.b4 {
  color: var(--text-secondary-color);
  font-size: 1.1em;
  background-color: var(--bg-color);
}

button:hover:not([disabled]).b4 {
  color: var(--hover-text-color);
}

button:disabled.b4 {
  color: var(--text-disabled-color);
}


input[type=input].input2, input[type=password].input2 {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  display: inline-block;
  background-color: var(--bg-color);
  transition: all 0.3s;
  outline: none;
}

input[type=input].input2:disabled, input[type=password].input2:disabled {
  color: var(--text-disabled-color);
}

label.input2 {
  color: var(--text-color);
  font-size: 1.1em;
  display: inline-block;
}


input[type=input].input3, input[type=password].input3 {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  display: inline-block;
  background-color: var(--bg-color);
  transition: all 0.3s;
  outline: none;
}

input[type=input].input3:focus, input[type=password].input3:focus {
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

input[type=input].input3:disabled, input[type=password].input3:disabled {
  color: var(--text-disabled-color);
}

label.input3 {
  color: var(--text-color);
  font-size: 1.1em;
  display: inline-block;
}


input[type=input].input4, input[type=password].input4 {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  display: inline-block;
  background-color: var(--bg-color);
  transition: all 0.3s;
  outline: none;
}

input[type=input].input4:disabled, input[type=password].input4:disabled {
  color: var(--text-disabled-color);
}

label.input4 {
  color: var(--text-color);
  font-size: 1.1em;
  display: inline-block;
}


border.float-input2  {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-right: 1em;
  display: inline-block;
  background-color: var(--bg-color);
  transition: all 0.3s;
  position: relative;
}

input[type=input].float-input2 {
  color: var(--text-color);
  font-size: 1em;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #00000000;
  transition: all 0.3s;
  outline: none;
}

input[type=input].float-input2::placeholder {
    opacity: 0;
}

input[type=input].float-input2:disabled {
  text-shadow: currentColor 0 0 0.1em;
  box-shadow: currentColor 0 0 0.1em, inset currentColor 0 0 0.1em;
  cursor: default;
  color: var(--text-disabled-color);
}

border.float-input2:focus-within {
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

border.float-input2:focus-within > label.float-input2,
label.float-input2:has(+ input.float-input2:not(:placeholder-shown)) {
  transform:translateY(-1.5em);
  color: var(--text-secondary-color);
  font-size: 0.8em;
}

label.float-input2 {
  color: var(--text-color);
  font-size: 1em;
  position: absolute;
  cursor: text;
  width:inherit;
  max-width:inherit;
  overflow: clip;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  transition-duration:300ms;
  transform:translateY(-0.75em);
  padding: 0;
  margin: 0;
}



border.float-input3  {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  border-width: 0.15em;
  border-style: solid;
  border-radius: 0.4em;
  border-color: var(--text-secondary-color);
  box-shadow: inset hsla(129, 87%, 62%, 0.6) 0 0 0.5em;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-right: 1em;
  display: inline-block;
  background-color: var(--bg-color);
  transition: all 0.3s;
  position: relative;
}

input[type=input].float-input3 {
  color: var(--text-color);
  font-size: 1em;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #00000000;
  transition: all 0.3s;
  outline: none;
  border:none;
}

input[type=input].float-input3::placeholder {
    opacity: 0;
}

input[type=input].float-input3:disabled {
  text-shadow: currentColor 0 0 0.1em;
  box-shadow: currentColor 0 0 0.1em, inset currentColor 0 0 0.1em;
  cursor: default;
  color: var(--text-disabled-color);
}

border.float-input3:focus-within {
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

border.float-input3:focus-within > label.float-input3,
label.float-input3:has(+ input.float-input3:not(:placeholder-shown)) {
  transform:translateY(-1.5em);
  color: var(--text-secondary-color);
  font-size: 0.8em;
}

label.float-input3 {
  color: var(--text-color);
  font-size: 1em;
  position: absolute;
  cursor: text;
  width:inherit;
  max-width:inherit;
  overflow: clip;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  transition-duration:300ms;
  transform:translateY(-0.75em);
  padding: 0;
  margin: 0;
}



border.float-input4  {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--text-secondary-color);
  box-shadow: inset hsla(129, 87%, 62%, 0.6) 0 0 0.5em;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-right: 1em;
  display: inline-block;
  background-color: var(--bg-color);
  transition: all 0.3s;
  position: relative;
}

input[type=input].float-input4 {
  color: var(--text-color);
  font-size: 1em;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #00000000;
  transition: all 0.3s;
  outline: none;
  border:none;
}

input[type=input].float-input4::placeholder {
    opacity: 0;
}

input[type=input].float-input4:disabled {
  text-shadow: currentColor 0 0 0.1em;
  box-shadow: currentColor 0 0 0.1em, inset currentColor 0 0 0.1em;
  cursor: default;
  color: var(--text-disabled-color);
}

border.float-input4:focus-within {
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

border.float-input4:focus-within > label.float-input4,
label.float-input4:has(+ input.float-input4:not(:placeholder-shown)) {
  transform:translateY(-1.5em);
  color: var(--text-secondary-color);
  font-size: 0.8em;
}

label.float-input4 {
  color: var(--text-color);
  font-size: 1em;
  position: absolute;
  cursor: text;
  width:inherit;
  max-width:inherit;
  overflow: clip;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  transition-duration:300ms;
  transform:translateY(-0.75em);
  padding: 0;
  margin: 0;
}



border.float-input5  {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  border-width: 0 0 0.1em 0;
  border-style: solid;
  border-color: var(--text-secondary-color);
  padding-left: 1em;
  padding-top: 1.5em;
  padding-right: 1em;
  display: inline-block;
  background-color: var(--bg-color);
  transition: all 0.3s;
  position: relative;
}

input[type=input].float-input5 {
  color: var(--text-color);
  font-size: 1em;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #00000000;
  transition: all 0.3s;
  outline: none;
  border:none;
}

input[type=input].float-input5::placeholder {
    opacity: 0;
}

input[type=input].float-input5:disabled {
  text-shadow: currentColor 0 0 0.1em;
  cursor: default;
  color: var(--text-disabled-color);
}

border.float-input5:focus-within > label.float-input5,
label.float-input5:has(+ input.float-input5:not(:placeholder-shown)) {
  transform:translateY(-1.5em);
  color: var(--text-secondary-color);
  font-size: 0.8em;
}

label.float-input5 {
  position: absolute;
  color: var(--text-color);
  font-size: 1em;
  cursor: text;
  width:inherit;
  max-width:inherit;
  overflow: clip;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  transition-duration:300ms;
  transform:translateY(-0.75em);
  padding: 0;
  margin: 0;
}



border.float-input6  {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--text-secondary-color);
  box-shadow: inset hsla(129, 87%, 62%, 0.6) 0 0 0.5em;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.3em;
  padding-right: 1em;
  display: inline-block;
  position: relative;
  background-color: var(--bg-color);
  transition: all 0.3s;
}

input[type=input].float-input6 {
  color: var(--text-color);
  font-size: 1em;
  padding: 0;
  margin: 0;
  background-color: #00000000;
  transition: all 0.3s;
  outline: none;
  border:none;
  display: absolute;
  top: 0;
  left: 0;
}

input[type=input].float-input6::placeholder {
    opacity: 0;
}

input[type=input].float-input6:disabled {
  text-shadow: currentColor 0 0 0.1em;
  box-shadow: currentColor 0 0 0.1em, inset currentColor 0 0 0.1em;
  cursor: default;
  color: var(--text-disabled-color);
}

border.float-input6:focus-within {
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

border.float-input6:focus-within > label.float-input6,
label.float-input6:has(+ input.float-input6:not(:placeholder-shown)) {
  transform:translate(-0.4em, -1.5em);
  color: var(--text-secondary-color);
  font-size: 0.8em;
  background-color: var(--bg-color-2);
  padding-right: 0.2em;
  padding-left: 0.2em;
  border-width: 0.2em;
  border-style: solid;
  border-color: var(--text-secondary-color);
  border-top: 0;
  border-bottom: 0;
}

label.float-input6 {
  color: var(--text-color);
  font-size: 1em;
  cursor: text;
  width:inherit;
  max-width:inherit;
  overflow: clip;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  transition-duration:300ms;
  padding: 0;
  margin: 0;
  position: absolute;
}

div.form-line {
  display: block;
  margin-top: 0.5em;
}

form {
  width: 300px;
  padding: 1em;
}

div.form-line > label {
  display: block;
}

div.form-line > input {
  display: block;
  width: 100%;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

div.form-line:has(button) {
  text-align: right;
}

div.login-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

form.login-form1 {
  border-width: 0.2em;
  border-style: solid;
  border-color: var(--text-secondary-color);
  padding: 1em;
}

/*
 * Border Styles 1
 */

.border-1 {
  padding-left: 1em;
  padding-right: 1em;
  border: 0.15em;
  border-style: solid;
  border-radius: 1em;
  border-color: var(--text-secondary-color);
}

.border-1-hover:hover:not([disabled]) {
  padding-left: 1em;
  padding-right: 1em;
  border: 0.15em;
  border-style: solid;
  border-radius: 1em;
  border-color: var(--hover-text-color);
}

.border-1-focus:focus:not([disabled]) {
  padding-left: 1em;
  padding-right: 1em;
  border: 0.15em;
  border-style: solid;
  border-radius: 1em;
  border-color: var(--hover-text-color);
}

.border-1-disabled:disabled {
  padding-left: 1em;
  padding-right: 1em;
  background: var(--text-secondary-color);
}

/*
 * Border Styles 2
 */

.border-2 {
  border-width: 0.15em;
  border-style: solid;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.2em;
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 0.15em, inset var(--text-secondary-color) 0 0 0.15em;
}

.border-2-hover:hover:not([disabled]) {
  border-width: 0.15em;
  border-style: solid;
  border-radius: 0.2em;
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

.border-2-focus:focus:not([disabled]) {
  border-width: 0.15em;
  border-style: solid;
  border-radius: 0.2em;
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

.border-2-disabled:disabled {
  text-shadow: currentColor 0 0 0.1em;
  box-shadow: currentColor 0 0 0.1em, inset currentColor 0 0 0.1em;
  border-color: currentColor;
}

/*
 * Border Styles 3
 */

.border-3 {
  border-width: 0.15em;
  border-style: solid;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.4em;
  border-color: var(--text-secondary-color);
  box-shadow: hsla(129, 87%, 62%, 0.6) 0 0 0, inset hsla(129, 87%, 62%, 0.6) 0 0 0.5em;
}

.border-3-hover:hover:not([disabled]) {
  border-width: 0.15em;
  border-style: solid;
  border-radius: 0.4em;
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

.border-3-focus:focus:not([disabled]) {
  border-width: 0.15em;
  border-style: solid;
  border-radius: 0.4em;
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

.border-3-disabled:disabled {
  text-shadow: currentColor 0 0 0.1em;
  box-shadow: currentColor 0 0 0.1em, inset currentColor 0 0 0.1em;
  border-color: currentColor;
}

/*
 * Border Styles 4
 */

.border-4 {
  border-width: 0.1em;
  border-style: solid;
  padding-left: 1em;
  padding-right: 1em;
  border-color: var(--text-secondary-color);
  box-shadow: hsla(129, 87%, 62%, 0.6) 0 0 0, inset hsla(129, 87%, 62%, 0.6) 0 0 0.5em;
}

.border-4-hover:hover:not([disabled]) {
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

.border-4-focus:focus:not([disabled]) {
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

.border-4-disabled:disabled {
  text-shadow: currentColor 0 0 0.1em;
  box-shadow: currentColor 0 0 0.1em, inset currentColor 0 0 0.1em;
  border-color: currentColor;
}


/*
 * Font Sizes
 */

.text-base {
    font-size: 1rem;
}

.text-l {
    font-size: 1.25rem;
}
