:root {
  --bg-color: hsl(129, 87%, 1.8%);
  --text-color: hsl(0, 0%, 100%);
  --text-disabled-color: hsl(0, 0%, 50%);
  --text-secondary-color: hsl(129, 87%, 62%);
  --text-secondary-disabled-color: hsl(129, 87%, 20%);
}

* {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}

body {
  background-color: var(--bg-color);
  margin: 0px;
  color: var(--text-color);
  padding-bottom: 2em;
}


body, input {
  font-family: "Adwaita Sans"
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.show {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: auto;
}

.showcase {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  width: 100%;
}

.element {
  flex: 1;
  gap: 0.5rem;
  align-items: center;
  display: flex;
}

input[type=text], input[type=password], input[type=input], input[type=email], input[type=number], input[type=url], input[type=tel], input[type=search], textarea {
  outline: none;
}

input {
  width: 13em;
  appearance: none;
  transition: all 0.3s;
}

input[type=checkbox] {
  cursor: pointer;
}

input[type=checkbox]:disabled {
  cursor: default;
}

input[type=radio] {
  cursor: pointer;
}

input[type=radio]:disabled {
  cursor: default;
}

/* This is hre since radion buttons are usually circular and broswers can have
   issues while rendering cocentric circles with sub-pixel antialiasing. */
input[type=radio] {
  will-change: transform;
}

/*
 * For some reason this is default for files opend locally and not for served
 * via HTTP.
 */
input:not([type="image" i]) {
    box-sizing: border-box;
}

.border {
  width: 13em;
}

button {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

button:disabled {
  cursor: default;
}

.border.float-input2  {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-right: 1em;
  display: inline-block;
  background-color: var(--bg-color);
  transition: all 0.3s;
  position: relative;
}

input[type=input].float-input2 {
  color: var(--text-color);
  font-size: 1em;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #00000000;
  transition: all 0.3s;
  outline: none;
}

input[type=input].float-input2::placeholder {
    opacity: 0;
}

input[type=input].float-input2:disabled {
  text-shadow: currentColor 0 0 0.1em;
  box-shadow: currentColor 0 0 0.1em, inset currentColor 0 0 0.1em;
  cursor: default;
  color: var(--text-disabled-color);
}

.border.float-input2:focus-within {
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

.border.float-input2:focus-within > label.float-input2,
label.float-input2:has(+ input.float-input2:not(:placeholder-shown)) {
  transform:translateY(-1.5em);
  color: var(--text-secondary-color);
  font-size: 0.8em;
}

label.float-input2 {
  color: var(--text-color);
  font-size: 1em;
  position: absolute;
  cursor: text;
  width:inherit;
  max-width:inherit;
  overflow: clip;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  transition-duration:300ms;
  transform:translateY(-0.75em);
  margin: 0;
}


.border.float-input3  {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  border-width: 0.15em;
  border-style: solid;
  border-radius: 0.4em;
  border-color: var(--text-secondary-color);
  box-shadow: inset hsla(129, 87%, 62%, 0.6) 0 0 0.5em;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-right: 1em;
  display: inline-block;
  background-color: var(--bg-color);
  transition: all 0.3s;
  position: relative;
}

input[type=input].float-input3 {
  color: var(--text-color);
  font-size: 1em;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #00000000;
  transition: all 0.3s;
  outline: none;
  border:none;
}

input[type=input].float-input3::placeholder {
    opacity: 0;
}

input[type=input].float-input3:disabled {
  text-shadow: currentColor 0 0 0.1em;
  box-shadow: currentColor 0 0 0.1em, inset currentColor 0 0 0.1em;
  cursor: default;
  color: var(--text-disabled-color);
}

.border.float-input3:focus-within {
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

.border.float-input3:focus-within > label.float-input3,
label.float-input3:has(+ input.float-input3:not(:placeholder-shown)) {
  transform:translateY(-1.5em);
  color: var(--text-secondary-color);
  font-size: 0.8em;
}

label.float-input3 {
  color: var(--text-color);
  font-size: 1em;
  position: absolute;
  cursor: text;
  width:inherit;
  max-width:inherit;
  overflow: clip;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  transition-duration:300ms;
  transform:translateY(-0.75em);
  margin: 0;
}



.border.float-input4  {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--text-secondary-color);
  box-shadow: inset hsla(129, 87%, 62%, 0.6) 0 0 0.5em;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-right: 1em;
  display: inline-block;
  background-color: var(--bg-color);
  transition: all 0.3s;
  position: relative;
}

input[type=input].float-input4 {
  color: var(--text-color);
  font-size: 1em;
  margin: 0;
  display: inline-block;
  background-color: #00000000;
  transition: all 0.3s;
  outline: none;
  border:none;
}

input[type=input].float-input4::placeholder {
    opacity: 0;
}

input[type=input].float-input4:disabled {
  text-shadow: currentColor 0 0 0.1em;
  box-shadow: currentColor 0 0 0.1em, inset currentColor 0 0 0.1em;
  cursor: default;
  color: var(--text-disabled-color);
}

.border.float-input4:focus-within {
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

.border.float-input4:focus-within > label.float-input4,
label.float-input4:has(+ input.float-input4:not(:placeholder-shown)) {
  transform:translateY(-1.5em);
  color: var(--text-secondary-color);
  font-size: 0.8em;
}

label.float-input4 {
  color: var(--text-color);
  font-size: 1em;
  position: absolute;
  cursor: text;
  width:inherit;
  max-width:inherit;
  overflow: clip;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  transition-duration:300ms;
  transform:translateY(-0.75em);
  margin: 0;
}



.border.float-input5  {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  border-width: 0 0 0.1em 0;
  border-style: solid;
  border-color: var(--text-secondary-color);
  padding-left: 1em;
  padding-top: 1.5em;
  padding-right: 1em;
  display: inline-block;
  background-color: var(--bg-color);
  transition: all 0.3s;
  position: relative;
}

input[type=input].float-input5 {
  color: var(--text-color);
  font-size: 1em;
  margin: 0;
  display: inline-block;
  background-color: #00000000;
  transition: all 0.3s;
  outline: none;
  border:none;
}

input[type=input].float-input5::placeholder {
    opacity: 0;
}

input[type=input].float-input5:disabled {
  text-shadow: currentColor 0 0 0.1em;
  cursor: default;
  color: var(--text-disabled-color);
}

.border.float-input5:focus-within > label.float-input5,
label.float-input5:has(+ input.float-input5:not(:placeholder-shown)) {
  transform:translateY(-1.5em);
  color: var(--text-secondary-color);
  font-size: 0.8em;
}

label.float-input5 {
  position: absolute;
  color: var(--text-color);
  font-size: 1em;
  cursor: text;
  width:inherit;
  max-width:inherit;
  overflow: clip;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  transition-duration:300ms;
  transform:translateY(-0.75em);
  margin: 0;
}



.border.float-input6  {
  color: var(--text-color);
  font-size: 1.1em;
  margin: 0.2em 0.0em;
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--text-secondary-color);
  box-shadow: inset hsla(129, 87%, 62%, 0.6) 0 0 0.5em;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.3em;
  padding-right: 1em;
  display: inline-block;
  position: relative;
  background-color: var(--bg-color);
  transition: all 0.3s;
}

input[type=input].float-input6 {
  color: var(--text-color);
  font-size: 1em;
  margin: 0;
  background-color: #00000000;
  transition: all 0.3s;
  outline: none;
  border:none;
  display: absolute;
  top: 0;
  left: 0;
}

input[type=input].float-input6::placeholder {
    opacity: 0;
}

input[type=input].float-input6:disabled {
  text-shadow: currentColor 0 0 0.1em;
  box-shadow: currentColor 0 0 0.1em, inset currentColor 0 0 0.1em;
  cursor: default;
  color: var(--text-disabled-color);
}

.border.float-input6:focus-within {
  box-shadow: var(--text-secondary-color) 0 0 0.2em, inset var(--text-secondary-color) 0 0 0.2em;
}

.border.float-input6:focus-within > label.float-input6,
label.float-input6:has(+ input.float-input6:not(:placeholder-shown)) {
  transform:translate(-0.4em, -1.5em);
  color: var(--text-secondary-color);
  font-size: 0.8em;
  background-color: var(--bg-color);
  padding-right: 0.2em;
  padding-left: 0.2em;
  border-width: 0.2em;
  border-style: solid;
  border-color: var(--text-secondary-color);
  border-top: 0;
  border-bottom: 0;
}

label.float-input6 {
  color: var(--text-color);
  font-size: 1em;
  cursor: text;
  width:inherit;
  max-width:inherit;
  overflow: clip;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  transition-duration:300ms;
  margin: 0;
  position: absolute;
  padding-right: 2em;
}

div.form-line {
  display: block;
  margin-top: 0.5em;
}

form {
  width: 300px;
  padding: 1em;
}

div.form-line > label {
  display: block;
}

div.form-line:has(button) {
  text-align: right;
}

div.login-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

form.login-form1 {
  border-width: 0.2em;
  border-style: solid;
  border-color: var(--text-secondary-color);
  padding: 1em;
}

/*
 * Border Styles 1
 */

.border-1 {
  border: calc(3rem / 16);
  border-style: solid;
  border-radius: 1em;
  border-color: var(--text-secondary-color);
}

.border-1-hover:hover:not([disabled]) {
  border-style: solid;
  border-radius: 1em;
  border-color: var(--text-color);
}

.border-1-focus:focus:not([disabled]) {
  border-style: solid;
  border-radius: 1em;
  border-color: var(--text-color);
}

.border-1-disabled:disabled {
  border: calc(3rem / 16);
  border-style: solid;
  border-radius: 1em;
  background: var(--text-secondary-color);
}

/*
 * Border Styles 2
 */

.border-2 {
  border-width: calc(3rem / 16);
  border-style: solid;
  border-radius: calc(4rem / 16);
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 calc(3rem / 16), inset var(--text-secondary-color) 0 0 calc(3rem / 16);
}

.border-2-hover:hover:not([disabled]) {
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 calc(5rem / 16), inset var(--text-secondary-color) 0 0 calc(5rem / 16);
}

.border-2-focus:focus:not([disabled]) {
  border-width: calc(3rem / 16);
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 calc(5rem / 16), inset var(--text-secondary-color) 0 0 calc(5rem / 16);
}

.border-2-disabled {
  border-width: calc(3rem / 16);
  border-style: solid;
  border-radius: calc(4rem / 16);
  box-shadow: currentColor 0 0 calc(2rem / 16), inset currentColor 0 0 calc(2rem / 16);
  border-color: currentColor;
}

/*
 * Border Styles 3
 */

.border-3 {
  border-width: calc(3rem / 16);
  border-style: solid;
  border-radius: calc(6rem / 16);
  border-color: var(--text-secondary-color);
  box-shadow: hsla(129, 87%, 62%, 0.6) 0 0 0, inset hsla(129, 87%, 62%, 0.6) 0 0 calc(10rem / 16);
}

.border-3-hover:hover:not([disabled]) {
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 calc(5rem / 16), inset var(--text-secondary-color) 0 0 calc(5rem / 16);
}

.border-3-focus:focus:not([disabled]) {
  border-style: solid;
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 calc(5rem / 16), inset var(--text-secondary-color) 0 0 calc(5rem / 16);
}

.border-3-disabled {
  border-width: calc(3rem / 16);
  border-style: solid;
  border-radius: calc(6rem / 16);
  box-shadow: currentColor 0 0 calc(3rem / 16), inset currentColor 0 0 calc(3rem / 16);
  border-color: currentColor;
}

/*
 * Border Styles 4
 */

.border-4 {
  border-width: calc(1.5rem / 16);
  border-style: solid;
  border-color: var(--text-secondary-color);
  box-shadow: hsla(129, 87%, 62%, 0.6) 0 0 0, inset hsla(129, 87%, 62%, 0.6) 0 0 calc(10rem / 16);
}

.border-4-hover:hover:not([disabled]) {
  border-style: solid;
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 calc(4em / 16), inset var(--text-secondary-color) 0 0 calc(4em / 16);
}

.border-4-focus:focus:not([disabled]) {
  border-style: solid;
  border-color: var(--text-secondary-color);
  box-shadow: var(--text-secondary-color) 0 0 calc(4em / 16), inset var(--text-secondary-color) 0 0 calc(4em / 16);
}

.border-4-disabled {
  border-width: calc(1.5rem / 16);
  border-style: solid;
  box-shadow: currentColor 0 0 calc(2rem / 16), inset currentColor 0 0 calc(2rem / 16);
  border-color: currentColor;
}


/*
 * Font Sizes
 */

.text-base {
  font-size: 1rem;
}

.text-1-1 {
  font-size: 1.1rem;
}

.text-1-3 {
  font-size: 1.3rem;
}

.text-1-5 {
  font-size: 1.5rem;
}

/*
 * padding
 */

.padding-lr-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.padding-tb-0-4 {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

/*
 * display
 */

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}

/*
 * vertical align
 */

.align-middle {
  vertical-align: middle;
}

/*
 * position
 */

.position-relative {
  position: relative;
}

/*
 * width
 */

.width-100 {
  width: 100%;
}

.width-1-2 {
  width: 1.2em;
}

/*
 * height
 */

.height-1-2rem {
  height: 1.2rem;
}

.height-1-5rem {
  height: 2rem;
}

/*
 * color
 */

.color-primary {
  color: var(--text-color);
}

.color-primary-hover:hover {
  color: var(--text-color);
}

.color-primary-disabled {
  color: var(--text-disabled-color);
}

.color-secondary {
  color: var(--text-secondary-color);
}

.color-secondary-hover:hover {
  color: var(--text-secondary-color);
}

.color-secondary-disabled {
  color: var(--text-secondary-disabled-color);
}

.color-bg-primary {
  color: var(--bg-color);
}

/*
 * background color
 */

.bg-primary {
  background-color: var(--bg-color);
}

/*
 * text shadow
 */

.text-shadow-2rpx {
  text-shadow: currentColor 0 0 calc(2rem / 16);
}

/*
 * size
 */

.size-1-5rem {
  width: 1.5rem;
  height: 1.5rem;
}

/*
 * box-sizing
 */

.box-border {
  box-sizing: border-box;
}

/*
 * border-radius
 */

.border-radius-50 {
  border-radius: 50%;
}

/*
 * checkmark style
 */

.checkmark-after:checked::after {
  display: block;
  content: "✓";
  text-align: center;
  color: currentColor;
  font-weight: bold;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}

/*
 * radio button styles
 */

.radiomark-after:checked::after {
  will-change: transform;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: currentColor;
}

